.todos {
    position: relative;

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        &-logo {
            font-size: 2rem;
            font-weight: 700;
            color: #1a1a1a;
        }
        &-author {
            margin-top: 5px;
            font-size: 1.2rem;
        }
    }
    &_empty {
        margin: 30px 0;
        padding: 10px 0;
        font-size: 1rem;
    }
    &-filter {
        padding-left: 20px;

        &_input {
            min-width: 200px;
            display: block;
            border-radius: 5px;
            border: 2px solid #cacaca;
            height: 40px;
            width: 100%;
            padding: 0 15px;
            font-size: 1rem;
            outline: none;

            &:focus {
                border-color: #007cdb;
            }
        }
    }
    &-list {
        position: relative;
        min-height: 60px;
    }
    &-item {
        display: flex;
        align-items: stretch;
        margin: 15px 0;
        padding-bottom: 15px;
        border-bottom: 1px solid #e1e1e1;

        &_status {
            display: flex;
            align-items: center;
            min-width: 50px;
            font-size: 2rem;
            color: #007cdb;

            &__completed {
                color: #13ca13;
            }
        }
        &_content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &_title {
            font-size: 1rem;
            flex-grow: 1;
            align-items: center;
        }
        &_author {
            color: #787878;
            font-size: 0.8rem;
            margin-top: auto;
            padding-top: 15px;
        }
    }
}
